@charset "utf-8";
/* CSS Document */

/* KLEUREN
 * Wit: #FFFFFF
 * Lichtgrijs voor achtergrond: #F6F6F6
 * Grijze achtergrond knoppen: #DADADA
 * Grijze tekst op knoppen: #9D9D9C 
 * Donkergrijs in links: #575756
 * Rood: #BE1622
 */
 
/* HELPER CLASSES */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/*--------------------------------------------- START CSS CODE ---------------------------------------------*/
body {
	font-size: 16px;
	line-height: 22px;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #F6F6F6;
}

body a {
	text-decoration: none;
}

/*Buttons en andere elementen naar boven duwen zodat ze helemaal op het scherm staan*/
div.brainstorm-container a:last-child, 
#btnReply, 
#btnAddBrainstorm, 
#btnUpdateProfile,
#btnEditBrainstorm {
	margin-bottom: 60px;
}
 
/*--------------------------------------------- INLOGGEN + REGISTREREN + ADD BRAINSTORM ---------------------------------------------*/
.form {
	padding: 20px;
}

.form input, .form textarea {
	border: 1px solid #9D9D9C;
	padding: 10px;
	font-size: 16px;
	width: 100%;
	margin: 5px 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form textarea {
	resize: none;
	height: 150px;
}

#btnLogin, #btnCreate, #btnAddBrainstorm, #btnReply, #btnSearch, #btnSubmit, #btnUpdateProfile, #btnEditBrainstorm {
	background-color: #BE1622;
	color: #FFFFFF;
	border: 0px;
	width: 100%;
	text-align: left;
	-webkit-appearance: none;
	cursor: pointer;
}

#btnLogin:active {
	background-color: #000000;
}

.forgot {
	text-align: right;
	margin: 0px 20px 0px 0px;
}

.forgot a {
	padding: 20px 0px 20px 20px;
	color: #575756;
	text-decoration: none;
}

.btnContainer {
	width: 100%;
	padding: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	bottom: 20px;
}

.switchBtn {
	color: #9D9D9C;
	border: 1px solid #9D9D9C;
	text-align: center;
}

.switchBtn a {
	color: #9D9D9C;
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: 10px;
}



/*--------------------------------------------- TITLEBAR ---------------------------------------------*/
/* code van http://alistapart.com/article/holygrail */

/*div.titlebar-container {			TODO: fixed zetten
	position: relative;
	width: 100%;
}*/

div.titlebar {
	padding: 0px 44px;
}

div.titlebar div.column {
	float: left;
	position: relative;
}

div.titlebar #center {
	width: 100%;
	text-align: center;
	color: #BE1622;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 10px;
}

div.titlebar #center span.titlebar-title {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	max-width: 100%;
	padding: 0px 10px;
}

div.titlebar #left, div.titlebar #right {
	width: 42px;
	height: 42px;
	text-indent: -9999px;
}

div.titlebar #left {
	margin-left: -100%;
	right: 44px;
	border-bottom: 2px solid #9D9D9C;
	border-right: 2px solid #9D9D9C;
	background: url(../img/back.svg) no-repeat center center;
}

div.titlebar #right {
	margin-right: -46px;
	border-bottom: 2px solid #9D9D9C;
	border-left: 2px solid #9D9D9C;
	background: url(../img/add.svg) no-repeat center center;
}

div.titlebar #titlebar-edit-button #right {
	margin-right: -46px;
	border-bottom: 2px solid #9D9D9C;
	border-left: 2px solid #9D9D9C;
	background: url(../img/edit.svg) no-repeat center center;
}

hr#titlebar-divider {
	width: 60%;
	border: 1px solid #BE1622;
	position: relative;
	top: -3px;
}

/*--------------------------------------------- FILTER BAR ---------------------------------------------*/
div.filter {
	padding: 20px;
	width: auto;
}

div.filter a.filter-button {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	display: block;
	width: 33.33%;
	text-align: center;
	float: left;
	height: 33px;
	border-top: 2px solid #9D9D9C;
	border-left: 2px solid #9D9D9C;
	border-bottom: 2px solid #9D9D9C;
	padding-top: 4px;
	color: #9D9D9C;
}

div.filter a.active {
	background-color: #DADADA;
}


div.filter a.filter-button:last-child {
	border-right: 2px solid #9D9D9C;
}



/*--------------------------------------------- BRAINSTORM LIST + BRAINSTORM DETAIL PAGE ---------------------------------------------*/
div.brainstorm-container a, div.user-container a {
	display: block;
	width: 100%;
	height: auto;
}

article.brainstorm, article.user {
	margin: 20px 0px;
	padding: 10px 20px;
	border-left: 5px solid #BE1622;
}

article.brainstorm-details {
	margin: 20px 0px;
	padding: 10px 20px;
	background-color: #EDEDED;
}

div.brainstorm-reactions {
	margin: 20px 0px;
	padding: 10px 20px;
}

article.brainstorm h1.brainstorm-title, article.user h1.username {
	font-weight: normal;
	font-size: 18px;
	position: relative;
	top: 3px;
	color: #000000;
	text-decoration: none;
	max-width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

article.brainstorm span.posted, article.brainstorm-details span.posted, article.user span.full-name, article.reaction span.posted {
	font-size: 12px;
	color: #9D9D9C;
	position: relative;
	top: -3px;
	text-decoration: none;
}

article.brainstorm-details span.posted, article.reaction span.posted {
	top: 0px;
}

article.brainstorm span.arrow, article.user span.arrow {
	display: block;
	width: 10px;
	height: 10px;
	background: url(../img/arrow.svg);
	background-size: 10px 10px;
	float: right;
	position: relative;
	top: -30px;
}

article.brainstorm-details div.links {
	margin: 15px 0px 5px;
}

div.links a.category {
	display: inline-block;
	background-color: #DADADA;
	color: #575756;
	padding: 2px 7px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 12px;
}

article.brainstorm-details div.links a.subscribe {
	background-color: #DADADA;
	color: #BE1622;
	padding: 1px 10px;
	float: right;
	font-weight: bold;
	font-size: 12px;
}

hr#reaction-divider {
	width: 60%;
	border: 1px solid #9D9D9C;
	margin: 15px auto;
}

/*--------------------------------------------- SEARCH + CATEGORY SELECTION IN ADD BRAINSTORM ---------------------------------------------*/
/*------------------------------ Some styles are inherited from brainstormList view ------------------------------*/
div.search-filter {
	margin: 30px 0px 30px 0px;
}

input[type="radio"], input[type="checkbox"] {
	display:none;
}

input[type="radio"] + label span, input[type="checkbox"] + label span {
	display:inline-block;
	width:50%;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	display: block;
	text-align: center;
	float: left;
	height: 33px;
	border-top: 2px solid #9D9D9C;
	border-left: 2px solid #9D9D9C;
	border-bottom: 2px solid #9D9D9C;
	padding-top: 4px;
	color: #9D9D9C;
	cursor: pointer;
}

div.categories input[type="checkbox"] + label span {
	border-top: none;
}

div.categories input[type="checkbox"]:first-child + label span, div.categories input[type="checkbox"]:nth-child(3) + label span {
	border-top: 2px solid #9D9D9C;
}

input[type="radio"] + label:last-child span, input[type="checkbox"] + label:last-child span, div.categories input[type="checkbox"]:nth-of-type(even) + label span {
    border-right: 2px solid #9D9D9C;
}

input[type="radio"]:checked + label span, input[type="checkbox"]:checked + label span {
    background-color: #DADADA;
}

/*--------------------------------------------- NAVBAR ---------------------------------------------*/
div.navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

div.button-container {
	position: relative;
}

div.button-container a.navbar-button {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	width: 33.33%;
	width: calc(100%/3);
	height: 46px;
	float: left;
	text-align: center;
	border-top: 2px solid #9D9D9C;
	background-color: #F6F6F6;
	padding-top: 12px;
	color: #9D9D9C;
}

div.navbar a#profile-button {
	border-left: 2px solid #9D9D9C;
	border-right: 2px solid #9D9D9C;
}

div.navbar a.active {
	background-color: #BE1622;
	border: none;
	color: #ffffff;
} 

/*--------------------------------------------- PROFILE ---------------------------------------------*/

article.profile {
	clear: both;
	padding: 20px;
}

article.profile img {
	float: left;
	padding: 0 10px 10px 0px;
}

article.profile .content p {
	color: #575756;
	margin-bottom: 10px;
}

a.social {
	display: inline-block;
	width: 40px;
	height: 40px;
}

a#web {
	background: url(../img/social-web.svg) no-repeat center center;
}

a#twitter {
	background: url(../img/social-twitter.svg) no-repeat center center;
}

a#facebook {
	background: url(../img/social-facebook.svg) no-repeat center center;
}

a#dribbble {
	background: url(../img/social-dribbble.svg) no-repeat center center;
}

a#behance {
	background: url(../img/social-behance.svg) no-repeat center center;
}

div#profile a.filter-button {
	width: 33%;
}

select {
	display:block;
	width:100%;
	text-align: center;
	float: left;
	height: 33px;
	font-size: 16px;
	padding-top: 4px;
	color: #9D9D9C;
	cursor: pointer;
	margin: 5px 0;
}